---
interface Props {
  title?: string;
  date?: string;
}

const { title = "", date = "" } = Astro.props;
---

<div data-testid="blog-post">
  <article>
    <h1 class="!mb-0 pb-2">{title}</h1>
    <p class="!m-0 pb-1 font-bold">{date}</p>
    <slot />
  </article>
</div>
