---
import Tooltip from "../Tooltip.astro";

interface Props {
  to?: string;
}

const { to } = Astro.props;
---

<div data-testid="tooltip-wrapper" style="padding-top: 80px;">
  <Tooltip to={to}>
    <span slot="main"><slot name="main" /></span>
    <span slot="hover"><slot name="hover" /></span>
  </Tooltip>
</div>
