{{ define "main" }}
  <div id="list-page">
    <div class="font-bold text-4xl pb-3">Articles</div>
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
      {{ $title := .Title }}
      {{ $summary := .Summary }}
      {{ $date := dateFormat "Jan 2, 2006" .Date }}
      <section class="item pb-5">
        <div>
          <div class="font-bold text-2xl pb-1 break-words">
            <a href="{{ .RelPermalink }}">{{ $title }}</a>
          </div>
          <div class="pb-2">{{ $date }}</div>
        </div>

        <div class="dark:text-gray-300 pb-5">
          {{ $summary | plainify | htmlUnescape }}
        </div>
        <div class="flex justify-end">
          <a href="{{ .RelPermalink }}">
            <button class="btn btn-dark dark:btn-light" aria-label="Read more">
              read.more
            </button>
          </a>
        </div>
      </section>
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
      <div class="pagination">
        {{ if $paginator.HasPrev }}
          <span class="prev">
            <a href="{{ .Paginator.Prev.URL }}">
              <span class="arrow">?</span>
              {{ with .Site.Params.newerPosts }}
                {{ . }}{{ else }}Newer Posts{{ end }}

            </a>
          </span>
        {{ end }}

        {{ if $paginator.HasNext }}
          <span class="next">
            <a href="{{ .Paginator.Next.URL }}">
              {{ with .Site.Params.olderPosts }}
                {{ . }}{{ else }}Older Posts{{ end }}


              <span class="arrow">?</span>
            </a>
          </span>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
