---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const theme = Astro.cookies.get("theme")?.value ?? "light";
const isDark = theme === "dark";
---

<!doctype html>
<html lang="en" class={isDark ? "dark" : ""}>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class="text-stone-900 dark:bg-stone-900 dark:text-white">
    <div class="m-auto h-full max-w-2xl px-4 md:px-0">
      <nav class="flex items-center justify-between border-b-2 pt-4 lg:pt-10">
        <a
          href="/"
          class="font-display text-2xl font-extrabold text-fuchsia-700 dark:text-fuchsia-500"
        >
          blog.pangalos.dev
        </a>
        <button id="theme-toggle">{theme}</button>
      </nav>
      <main>
        <slot />
      </main>
    </div>

    <script>
      const button = document.getElementById("theme-toggle")!;

      button.addEventListener("click", async () => {
        const isDark = document.documentElement.classList.contains("dark");
        const newTheme = isDark ? "light" : "dark";

        document.cookie = `theme=${newTheme};path=/;max-age=${60 * 60 * 24 * 30}`;

        if (newTheme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }

        button.textContent = newTheme;
      });
    </script>
  </body>
</html>
