---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { isAuthenticated } from "../../../lib/auth";
import LoginForm from "./_components/LoginForm";

if (await isAuthenticated(Astro)) {
  return Astro.redirect("/admin");
}
---

<BaseLayout title="Admin Login">
  <div class="mx-auto mt-16 max-w-sm">
    <h1 class="mb-8 text-center font-display text-3xl font-bold">
      Admin Login
    </h1>
    <LoginForm client:load />
  </div>
</BaseLayout>
